<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><a class="crumb-name" href=" ">理发预约管理</a><span class="crumb-step">&gt;</span><span>添加理发预约</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="/school+/lifaadmin/lifa/toChangeLifa" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                    <tbody>
                    <!--暂时设置storeid 为2-->
                    <td><input type="text" name="ot_pnid" value="{$news.ot_pnid}"></td>

                    <td><input type="text" name="si_idddd" value="{$news.si_idddd}"></td>

                    <tr>
                        <th><i class="require-red">*</i>可预约时间段：</th>
                        <td><input class="common-text" name="ot_pntime" size="50"  value="{$news.ot_pntime}" type="text"></td>
                    </tr>

                    <tr>
                        <th>此时间段次种类可预约人数：</th>
                        <td><input class="common-text" name="ot_pnpnum" size="50"  value="{$news.ot_pnpnum}" type="text"></td>
                    </tr>
                    <tr>
                        <th>此时间段可预约种类：</th>
                        <td><input class="common-text" name="ot_type" size="50"value="{$news.ot_type}" type="text"></td>
                    </tr>

                    <tr>

                        <td style="padding:0px 200px" colspan="2" >
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</div>
<!--/main-->
