
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><span class="crumb-name">理发预约管理</span></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a href="addji"><i class="icon-font"></i>添加理发预约时间段</a>

                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th>理发预约时间段</th>
                            <th>理发预约种类</th>
                            <th>次种类可预约人数</th>
                            <th>操作</th>
                        </tr>
                        <volist name="store" id="vo">
                            <tr>

                                <td>{$vo.ot_pntime}</td>
                                <td>{$vo.ot_type}</td>
                                <td>{$vo.ot_pnpnum}</td>
                                <td>
                                    <a  href="/lifaadmin/lifa/changelifa?id={$vo.ot_pnid}">修改</a>
                                    <a class="delete" href="" name="{$vo.ot_pnid}">删除</a>
                                </td>
                            </tr>
                        </volist>

                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
<!--删除的js-->
    <script type="text/javascript">
        $(document).ready(function(){
            //检测js文件是否引入成功
            console.log('恭喜你,jquery文件引入成功');

            $(".delete").click(function(){
                var alarm = confirm('是否确定要删除？');
                confirm(alarm);
                if(alarm == true){
                    var id = $(this).attr('name');
                    confirm(id);

                    //attr()设置被选元素的属性和值。//获取要删除的数据的id
                    var self = $(this);
                    $.post("{:U('lifaadmin/lifa/deletelifa')}",//执行删除操作的页面
                            {'id':id},//删除页面所需要的要删除的数据id

                            function(data){
                                //请求成功后隐藏该记录
                                var child = self.parent().parent();//获取当前结点父结点的父结点
                                child.hide();//隐藏信息

                            }//function(data)处的括号
                    );//post结尾处的括号
                }
            });
        });
    </script>
