
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><span>理发预约订单管理</span><span class="crumb-step">&gt;</span><span>查看订单</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">
                <form action="/jscss/admin/design/add" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <td>订单ID</td>
                            <td>{$lifadan.or_tdid}</td>

                        </tr>
                         <tr>
                             <td>预约者姓名</td>
                             <td>{$lifadan.hair_name}</td>

                         </tr>
                        <tr>
                            <td>预约理发种类头发长度</td>
                            <td>{$lifadan.or_typename}，头发长度为：{$lifadan.hair_long}</td>
                        </tr>
                        <tr>
                            <td>预约者联系方式</td>
                            <td>{$lifadan.hair_number}</td>

                        </tr>
                        <tr>
                            <td>预约时间</td>
                            <td>{$lifadan.or_tdtime}</td>
                        </tr>

                        <tr>
                            <td>客户备注</td>
                            <td>{$lifadan.hair_content}</td>
                        </tr>
                        <tr>
                            <td>订单状态</td>
                            <td>{$lifadan.ts_idd}
                                <?php
                                    switch ($lifadan["ts_idd"])
                                        {
                                        case 1:
                                          echo "理发预约取消";
                                          break;
                                        case 2:
                                          echo "理发预约完成";
                                          break;
                                        case 3:
                                       echo "理发预约推迟10分钟";
                                         break;
                                        default:
                                         echo "理发预约进行中";
                                        };?>
                            </td>
                        </tr>
                        </tbody></table>

                    <a class="btn btn-primary btn2 mr3" href="/school+/lifaadmin/lifa/danConfirm?id={$lifadan.or_tdid}">确认预约</a>
                    <a class="btn btn-primary btn2 mr1" href="/school+/lifaadmin/lifa/danCancel?id={$lifadan.or_tdid}">取消预约</a>

                    <a id="delete" name="{$lifadan.or_tdid}" class="btn btn-primary btn2 mr1">删除订单</a>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
    <script type="text/javascript">
        $(document).ready(function(){
            //检测js文件是否引入成功
            console.log('恭喜你,jquery文件引入成功');

            $("#delete").click(function(){
                var alarm = confirm('是否确定要删除？');
                confirm(alarm);
                if(alarm == true){
                    var id = $(this).attr('name');
                    confirm(id);

                    //attr()设置被选元素的属性和值。//获取要删除的数据的id
                    var self = $(this);
                    $.post("{:U('lifaadmin/lifa/danDelete')}",//执行删除操作的页面
                            {'id':id},//删除页面所需要的要删除的数据id

                            function(data){
                                //请求成功后隐藏该记录
                               if(confirm("删除成功,刷新页面生效，如需恢复订单请联系管理员")){
                                   history.go(-1);
                               }
                            }//function(data)处的括号
                    );//post结尾处的括号

                }
            });
        });
    </script>