<!DOCTYPE html>
<!--
作者：尤燕飞
功能：商品预约、兼职、理发预约、全部订单页的动态获取
-->
<html>
<head>
    <title>全部订单</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--只有IE8认识,解决兼容性问题-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="__PUBLIC__/home/css/weui.min.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css" rel="stylesheet">
    <style>
        html,body{
            height:100%;
        }
        .weui_tab .weui_tab_bd .content img{
            width:100%;
            display:block;
        }
        .dingdanneirong{
            margin-right: -23%;
            float: right;
            width: 80%;
        }
        .back{
            margin-top:10px;
            float:left;
        }
        .set{
            width:80%;
            padding-top:15px;
            margin:0 auto;
            text-align:center;
            font-size:22px;
        }

    </style>
</head>
<body>
<div class="weui_tab">
    <div class="weui_tab_bd">

        <div>
            <!-- 返回图标开始 -->
            <div   class="back" >
                <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
            </div>
            <div class="set">
                全部订单
            </div>
            <!-- 返回图标结束 -->
        </div>


        <!-- 中间部分开始 -->
        <div class="weui_tab_bd">
            <!--导航栏开始-->
            <div class="weui_tab">
                <div class="weui_navbar"  >
                    <a class="weui_navbar_item weui_bar_item_on"  >商品预约</a>
                    <a class="weui_navbar_item"  >兼职</a>
                    <a class="weui_navbar_item"  >理发预约</a>
                    <a class="weui_navbar_item"   >已完成</a>
                </div>
                <div class="weui_tab_bd">
                    <!--选项卡开始-->
                    <div class="weui_tab_bd" >


                        <!--第1个选项卡-->
                        <div class="content">
                            <div class="weui_cells weui_cells_access">
                                <volist name="c" id="vo">
                                    <a class="weui_cell" href="/index.php/home/dianjia/dianjia?si_id={$vo.si_id}">
                                        <div class="weui_cell_hd">
                                            <img src="__PUBLIC__/{$vo['bs_gurl']}"  style="width:130px;height:100px">
                                        </div>
                                        <div class="dingdanneirong margin-right:20px">
                                            {$vo.bs_tr_id}{$vo['si_name']}<br/>
                                            名称：{$vo['bs_gname']}<br/>
                                            送货地址：{$vo['bs_tr_inaddress']}<br/>
                                            <!--联系店家：{$vo['si_phone']}<br/>-->
                                            <div style="right: 3%">
                                                ￥{$vo['bs_gprice']}<br/>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="weui_cells">
                                        <div class="weui_cell" style="height:20px;">

                                            <div class="weui_cell_bd weui_cell_primary"  style=" position:absolute; right:0;">
                                                共{$vo['bs_mgnum']}件 合计：￥{$vo['bs_tr_inmoney']}
                                            </div>
                                        </div>

                                        <div class="weui_cell"  style="height:20px;">
                                            <div class="weui_cell_bd weui_cell_primary" style="margin-bottom:1%;">
                                                <div style=" float:left;margin-bottom:3%;margin-top: 4%;">
                                                    状态：
                                                    <?php
													switch ($vo["ts_iddd"])
														{
														case 5:
															echo "交易取消";
															break;
														case 6:
															echo "交易完成";
															break;
														case 7:
															echo "交易进行中";
															break;

														};?>
                                                </div>
                                                <div class="button_sp_area"  style=" float:right;margin-bottom:1%;">
                                                    <a href="/index.php/home/dingdan/cancelGoods?bs_tr_id={$vo.bs_tr_id}&ts_iddd={$vo.ts_iddd}" class="weui_btn weui_btn_mini weui_btn_default cancelGoods">取消订单</a>
                                                    <a href="/index.php/home/dingdan/confirmGoods?bs_tr_id={$vo.bs_tr_id}&ts_iddd={$vo.ts_iddd}" class="weui_btn weui_btn_mini weui_btn_default confirmgoods">确认收货</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>



                        <!--第2个选项卡-->
                        <div class="content" style="display:none">
                            <div class="weui_cells weui_cells_access">
                                <volist name="s" id="vo">
                                    <a class="weui_cell" href="/index.php/home/jianzhi/jianzhi_content?id={$vo.pt_inid}">
                                        <div class="weui_cell_hd" >
                                            <img src="__PUBLIC__/home/images/jianzhi.png"  style="width:130px;height:100px">
                                        </div>
                                        <div class="dingdanneirong">
                                            <!--订单id:{$vo.pt_trid}-->
                                            {$vo['pt_inname']}<br/>
                                            工资：{$vo['pt_inmoney']}<br/>
                                            时间：{$vo['pt_trtime']}<br/>
                                        </div>
                                    </a>
                                    <div class="weui_cells">

                                        <div class="weui_cell"  style="height:20px;">
                                            <div class="weui_cell_bd weui_cell_primary" >
                                                <div style=" float:left;margin-bottom:3%;margin-top: 4%;">
                                                    状态：
                                                    <!--订单状态id{$vo.ts_id}-->
                                                    <?php
													switch ($vo["ts_id"])
														{
														case 8:
														echo "等待录用";
															break;
														case 9:
														 	echo "已经录用";
															break;
														case 10:
															echo "发布人取消";
															break;
														case 11:
															echo "我拒绝录用";
															break;
														case 12:
															echo "您被取消录用";
															break;
														case 13:
															echo "我取消预约";
															break;
														};?>

                                                </div>
                                                <div class="button_sp_area"  style=" float:right;margin-bottom:1%;">
                                                    <a  href="/index.php/home/dingdan/cancelOrder?pt_trid={$vo.pt_trid}&ts_id={$vo.ts_id}" class="weui_btn weui_btn_mini weui_btn_default cancelOrder">取消预约</a>
                                                    <a  href="/index.php/home/dingdan/cancelHire?pt_trid={$vo.pt_trid}&ts_id={$vo.ts_id}" class="weui_btn weui_btn_mini weui_btn_default cancelHire" >取消录用</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>

                        <!--第3个选项卡-->
                        <div class="content" style="display:none">
                            <div class="weui_cells weui_cells_access">
                                <volist name="s1" id="vo">
                                    <a class="weui_cell" href="/index.php/home/lifa/dianpu?si_id={$vo.si_id}">
                                        <div class="weui_cell_hd">
                                            <img src="__PUBLIC__/{$vo['si_image']}"   style="width:130px;height:100px">
                                        </div>
                                        <div class="dingdanneirong">
                                            {$vo.or_tdid}{$vo['si_name']}<br/>
                                            预约类型：{$vo['or_typename']}<br/>
                                            发型：{$vo['hair_long']}<br/>
                                            预约时间：{$vo['or_tdday']}&nbsp;&nbsp;{$vo['or_tdtime']}<br/>

                                            联系店家：{$vo['si_phone']}

                                        </div>
                                    </a>
                                    <div class="weui_cells">
                                        <div class="weui_cell"    style="height:20px;">
                                            <div class="weui_cell_bd weui_cell_primary" >
                                                <div style=" float:left;margin-bottom:3%;margin-top: 4%;">
                                                    状态：{$vo.ts_idd}
                                                    <?php
													switch ($vo["ts_idd"])
														{
														case 1:
														  echo "预约取消";
														  break;
														case 2:
														  echo "预约完成";
														  break;
														case 3:
															echo "预约进行中";
															break;
														case 4:
													   		echo "预约推迟10分钟";
														 break;
														};?>

                                                </div>
                                                <div class="button_sp_area"  style=" float:right;margin-bottom:1%;">
                                                    <a href="/index.php/home/dingdan/putoffHorder?or_tdid={$vo.or_tdid}&ts_idd={$vo.ts_idd}" class="weui_btn weui_btn_mini weui_btn_default putoffHorder">推迟十分钟</a>
                                                    <a href="/index.php/home/dingdan/cancelHorder?or_tdid={$vo.or_tdid}&ts_idd={$vo.ts_idd}" class="weui_btn weui_btn_mini weui_btn_default cancelOrder">取消预约</a>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </volist>

                            </div>
                        </div>



                        <!--第4个选项卡-->
                        <div class="content" style="display:none">
                            <div class="weui_cells weui_cells_access">
                                <p>理发预约订单</p>
                                <volist name="finishedHorder" id="vo">
                                    <a class="weui_cell" href="/index.php/home/lifa/dianpu?si_id={$vo.si_id}">
                                        <div class="weui_cell_hd">
                                            <img src="__PUBLIC__/{$vo['si_image']}"  style="width:130px;height:100px">
                                        </div>
                                        <div class="dingdanneirong">
                                            {$vo.or_tdid}{$vo['si_name']}<br/>
                                            预约类型：{$vo['or_typename']}<br/>
                                            发型：{$vo['hair_long']}<br/>
                                            预约时间：{$vo['or_tdday']}&nbsp;&nbsp;{$vo['or_tdtime']}<br/>

                                        </div>
                                    </a>
                                    <div class="weui_cells">
                                        <div class="weui_cell"   style="height:20px;">
                                            <div class="weui_cell_bd weui_cell_primary">

                                                <div style=" float:left;margin-bottom:3%;margin-top: 4%;">
                                                    状态：{$vo.ts_idd}
                                                    <?php
													switch ($vo["ts_idd"])
														{
														case 1:
														  echo "预约取消";
														  break;
														case 2:
														  echo "预约完成";
														  break;
														case 3:
															echo "预约进行中";
															break;
														case 4:
													   		echo "预约推迟10分钟";
														 break;
														};?>

                                                </div>
                                                <div class="button_sp_area"  style=" float:right;margin-bottom:1%;">
                                                    <a href="{:U('home/dingdan/personal_comment')}?si_id={$vo['si_id']}&id={$vo['or_tdid']}" class="weui_btn weui_btn_mini weui_btn_default">
                                                        评价订单
                                                    </a>
                                                    <a href="/index.php/home/dingdan/deltHorder?or_tdid={$vo.or_tdid}" class="weui_btn weui_btn_mini weui_btn_default delete">删除订单</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </volist>
                                <p>兼职订单</p>
                                <volist name="finishedPart" id="vo">
                                    <a class="weui_cell" href="/index.php/home/jianzhi/jianzhi_content?id={$vo.pt_inid}">
                                        <div class="weui_cell_hd" >
                                            <img src="__PUBLIC__/home/images/jianzhi.png"  style="width:130px;height:100px">
                                        </div>
                                        <div class="dingdanneirong">
                                            {$vo.pt_trid}{$vo['pt_inname']}<br/>
                                            工资：{$vo['pt_inmoney']}<br/>
                                            时间：{$vo['pt_trtime']}<br/>
                                        </div>
                                    </a>
                                    <div class="weui_cells">
                                        <div class="weui_cell"   style="height:20px;">
                                            <div class="weui_cell_bd weui_cell_primary">
                                                <div style=" float:left;margin-bottom:3%;margin-top: 4%;">
                                                    状态：
                                                    <!--订单状态id{$vo.ts_id}-->
                                                    <?php
													switch ($vo["ts_id"])
														{
														case 8:
														echo "等待录用";
															break;
														case 9:
														 	echo "已经录用";
															break;
														case 10:
															echo "发布人取消";
															break;
														case 11:
															echo "我拒绝录用";
															break;
														case 12:
															echo "您被取消录用";
															break;
														case 13:
															echo "我取消预约";
															break;
														};?>

                                                </div>
                                                <div class="button_sp_area"  style=" float:right;margin-bottom:1%;">

                                                    <a href="/index.php/home/dingdan/deltPtorder?pt_trid={$vo.pt_trid}" class="weui_btn weui_btn_mini weui_btn_default delete">删除订单</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </volist>
                                商品订单
                                <volist name="finishedGoods" id="vo">
                                    <a class="weui_cell" href="/home/dianjia/dianjia?si_id={$vo.si_id}">
                                        <div class="weui_cell_hd">
                                            <img src="__PUBLIC__/{$vo['bs_gurl']}"  style="width:130px;height:100px">
                                        </div>
                                        <div class="dingdanneirong">
                                            {$vo.bs_tr_id}{$vo['si_name']}<br/>
                                            商品名称：{$vo['bs_gname']}<br/>
                                            送货地址：{$vo['bs_tr_inaddress']}<br/>
                                            预计到达：&nbsp;&nbsp;{$vo['bs_tr_time']}<br/>
                                            ￥{$vo['bs_gprice']}<br/>
                                            *{$vo['bs_mgnum']}<br/>
                                        </div>
                                    </a>
                                    <div class="weui_cells">
                                        <div class="weui_cell"   style="height:20px;">
                                            <div class="weui_cell_bd weui_cell_primary">
                                                <div style=" float:left;margin-bottom:3%;margin-top: 4%;">
                                                    状态：
                                                    <?php
													switch ($vo["ts_iddd"])
														{
														case 5:
															echo "交易取消";
															break;
														case 6:
															echo "交易完成";
															break;
														case 7:
															echo "交易进行中";
															break;

														};?>
                                                </div>
                                                <div class="button_sp_area"  style=" float:right;margin-bottom:1%;">

                                                    <a href="{:U('home/dingdan/personal_comment')}?si_id={$vo['si_id']}&id={$vo['bs_gid']}" class="weui_btn weui_btn_mini weui_btn_default">评价订单</a>
                                                    <a href="javascript:;" class="weui_btn weui_btn_mini weui_btn_default delete">删除订单</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </volist>
                            </div>
                        </div>

                    </div>
                </div>
                <!--选项卡结束-->
            </div>
        </div>
        <!--导航栏结束-->
    </div>
    <!-- 中间部分结束 -->

</div>




<!--</body>-->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/swiper.js"></script>
<script>
    $(".weui_navbar .weui_navbar_item").click(function(){
        $(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//全部没有weui_bar_item_on
        $(this).addClass("weui_bar_item_on");//点谁谁有weui_bar_item_on
        //判断点的第几个选项卡
        var which = $(this).index();
        //console.log(which);
        //让所有内容区域隐藏
        $(".weui_tab_bd .content").hide();
        //按照索引选择内容
        $(".weui_tab_bd .content:eq("+which+")").show();
    });



    $(document).ready(function(){
        $(".cancelHire").click(function(){
            //拒绝发布者录用的提示框
            var tag1 = confirm('是否确定拒绝录用？');
            if(!tag1) {
                return false;
            }
        });
        $(".cancelOrder").click(function(){
            //取消兼职预约的提示框
            var tag2 = confirm('是否确定取消预约？');
            if(!tag2){
                return false;
            }
        });
        $(".cancelGoods").click(function(){
            //取消商品预约的提示框
            var tag3 = confirm('是否确定取消预约？');
            if(!tag3){
                return false;
            }
        });
        $(".confirmGoods").click(function(){
            //确认商品订单
            var tag3 = confirm('是否确定收货？');
            if(!tag3){
                return false;
            }
        });
        $(".delete").click(function(){
            //取消兼职预约的提示框
            var tag2 = confirm('是否确定删除订单？');
            if(!tag2){
                return false;
            }
        });

    });


</script>

