body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:100px;
}
#u510 {
  position:absolute;
  left:90px;
  top:20px;
  width:460px;
  height:100px;
}
#u511 {
  position:absolute;
  left:2px;
  top:42px;
  width:456px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u512 {
  position:absolute;
  left:57px;
  top:178px;
  width:100px;
  height:80px;
}
#u513 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u514 {
  position:absolute;
  left:199px;
  top:178px;
  width:100px;
  height:80px;
}
#u515 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u516 {
  position:absolute;
  left:340px;
  top:178px;
  width:100px;
  height:80px;
}
#u517 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u518 {
  position:absolute;
  left:482px;
  top:178px;
  width:100px;
  height:80px;
}
#u519 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:150px;
}
#u520 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:150px;
}
#u521 {
  position:absolute;
  left:2px;
  top:67px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u522 {
  position:absolute;
  left:-10px;
  top:599px;
  width:650px;
  height:40px;
}
#u522_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:656px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u523 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:45px;
}
#u524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u524 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u525 {
  position:absolute;
  left:2px;
  top:11px;
  width:163px;
  word-wrap:break-word;
}
#u526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u526 {
  position:absolute;
  left:167px;
  top:0px;
  width:166px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u527 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u528 {
  position:absolute;
  left:333px;
  top:0px;
  width:165px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u529 {
  position:absolute;
  left:2px;
  top:11px;
  width:161px;
  word-wrap:break-word;
}
#u530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u530 {
  position:absolute;
  left:498px;
  top:0px;
  width:152px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u531 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:244px;
}
#u532 {
  position:absolute;
  left:101px;
  top:283px;
  width:458px;
  height:244px;
}
#u533 {
  position:absolute;
  left:2px;
  top:114px;
  width:454px;
  visibility:hidden;
  word-wrap:break-word;
}
#u534_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u534 {
  position:absolute;
  left:101px;
  top:544px;
  width:458px;
  height:32px;
}
#u535 {
  position:absolute;
  left:2px;
  top:8px;
  width:454px;
  word-wrap:break-word;
}
#u536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u536 {
  position:absolute;
  left:19px;
  top:7px;
  width:33px;
  height:20px;
  opacity:0.8;
}
#u537 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
