
<!--/sidebar-->
<div class="main-wrap">

    <div class="store-wrap">
        <div class="store-title">
            <h1>店铺基本信息</h1>
        </div>
        <div class="store-content">
            <ul class="sys-info-list">
                <li>
                    <label class="res-lab">头像</label><span class="res-info"><img src="__PUBLIC__/{$store.si_image}" class="res-labb"/></span>
                    <span class="res-labc"></span>
                </li>

                <li>
                    <label class="res-lab">名称</label><span class="res-info">{$store.si_name}</span>
                    <span class="res-labc"></span>
                </li>
                <li>
                    <label class="res-lab">介绍</label><span class="res-info">{$store.si_sintroduce}</span>
                    <span class="res-labc"></span>
                </li>
                <li>
                    <label class="res-lab">所在地址</label><span class="res-info">{$store.si_address}</span>
                    <span class="res-labc"></span>
                </li>
                <li>
                    <label class="res-lab">联系方式</label><span class="res-info">{$store.si_phone}</span>
                    <span class="res-labc"></span>
                </li>
                <li>
                    <label class="res-lab">主体信息</label><span class="res-info">{$type}</span>
                    <span class="res-labc"></span>
                </li>
                <!--<a href="seller/changeseller">修改店铺信息</a>-->
                <li>
                    <a href="/school+/Lifaadmin/seller/changeseller"> <input value="修改店铺信息" type="button"></a>

                </li>
            </ul>
        </div>
    </div>


</div>
<!--/main-->


