<!DOCTYPE html>
<html>
<head>
    <title>商品详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="__PUBLIC__/home/css/weui.min.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css" rel="stylesheet">
    <style>
        html,body{
            height:100%;
        }
        .weui-col-20 img{
            height: 38px;
            padding-top:2px;
            padding-left: 4px;
        }
        .pho img{
            width: 100%;
        }
        .a{
            font-size: 20px;
            padding: 4px;
            color:red;
            float: right;
        }
        .back{
            margin-top:10px;
            float:left;
        }
        .set{
            width:80%;
            padding-top:10px;
            margin:0 auto;
            text-align:center;
            font-size:22px;
        }
        .dingdan{
            margin-left: 50%;
        }
    </style>
</head>
<body>
<div class="weui_tab">
    <div class="weui_tab_bd">


        <div>
            <!-- 返回图标开始 -->
            <div   class="back" >
                <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
            </div>
            <div class="set" name="set">
                {$set['bs_gname']}
            </div>
            <!-- 返回图标结束 -->
        </div>


        <div class="line">
            <div class="pho">
                <img src="__PUBLIC__/{$set['bs_gurl']}"alt="">
            </div>
        </div>
        <div class="a" name="set">￥{$set['bs_gprice']}</div>
        <div name="set">
            <p style="font-size: 20px;padding-left: 8px;">{$set['bs_gdescription']}</p>
            <p style="font-size: 15px;padding-left: 8px;padding-margin:8px;">运费：免费</p>
        </div>


        <div class="weui_cells weui_cells_access">

            <div class="weui_cell" >
                <div class="weui_cell_hd">
                                种类：{$set.bs_tname}
                                <br/><br/>
                                型号(颜色)：{$set.bs_gsize}
                </div>
                <div class="dingdan">
                    <div class="img2">
                        <a href="/index.php/home/dianjia/gouwu1?id={$set['bs_gid']}&si_id={$set.si_id}">
                        <img src="__PUBLIC__/home/images/gouwuche.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="weui_panel_bd">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="__PUBLIC__/{$si['si_image']}" alt="">
                </div>
                <div class="weui_media_bd" name="si">
                    <h4 class="weui_media_title">{$si['si_name']}</h4>
                    <p class="weui_media_desc">{$si['si_sintroduce']}</p>
                </div>
            </a>
        </div>


        <!--&lt;!&ndash;底部开始&ndash;&gt;-->

        <!--<div class="weui_tabbar">-->
            <!--<a href="/index.php/home/dianjia/shangjia" class="weui_tabbar_item weui_bar_item_on">-->
            <!--<div class="weui_tabbar_icon">-->
            <!--<img src="__PUBLIC__/home/images/11.png" alt="">-->
            <!--</div>-->
            <!--<p class="weui_tabbar_label">店家</p>-->
            <!--</a>-->
            <!--<a href="" class="weui_tabbar_item">-->
            <!--<div class="weui_tabbar_icon">-->
            <!--<img src="__PUBLIC__/home/images/22.png" alt="">-->
            <!--</div>-->
            <!--<p class="weui_tabbar_label">收藏</p>-->
            <!--</a>-->
            <!--<a href="/index.php/home/dingdan/gouwuche_queren" class="weui_tabbar_item">-->
            <!--<div class="weui_tabbar_icon">-->
            <!--<img src="__PUBLIC__/home/images/33.png" alt="">-->
            <!--</div>-->
            <!--<p class="weui_tabbar_label">购物车</p>-->
            <!--</a>-->
            <!--<a href="" class="weui_tabbar_item">-->
            <!--<div class="weui_tabbar_icon">-->
            <!--<img src="__PUBLIC__/home/images/44.png" alt="">-->
            <!--</div>-->
            <!--<p class="weui_tabbar_label">立即购买</p>-->
            <!--</a>-->
        <!--</div>-->
        <!--&lt;!&ndash;底部结束&ndash;&gt;-->






    <!--</div>-->
<!--</div>-->
<!--</body>-->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js" ></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-weui.min.js"></script>
<script type="text/javascript">
    $(".weui_navbar .weui_navbar_item").click(function(){
        $(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//全部没有weui_bar_item_on
        $(this).addClass("weui_bar_item_on");//点谁谁有weui_bar_item_on
        //判断点的第几个选项卡
        var which = $(this).index();
        //console.log(which);
        //让所有内容区域隐藏
        $(".weui_tab_bd .content").hide();
        //按照索引选择内容
        $(".weui_tab_bd .content:eq("+which+")").show();
    });
</script>
<!--</html>-->
