body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:661px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1285_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:541px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1285 {
  position:absolute;
  left:11px;
  top:-40px;
  width:650px;
  height:541px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:262px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287 {
  position:absolute;
  left:10px;
  top:501px;
  width:650px;
  height:40px;
}
#u1287_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:656px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:45px;
}
#u1289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1290 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u1291 {
  position:absolute;
  left:166px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:11px;
  width:163px;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u1293 {
  position:absolute;
  left:333px;
  top:0px;
  width:165px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:11px;
  width:161px;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u1295 {
  position:absolute;
  left:498px;
  top:0px;
  width:152px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:349px;
  height:332px;
}
#u1297 {
  position:absolute;
  left:139px;
  top:127px;
  width:349px;
  height:332px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:158px;
  width:345px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_div {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1299 {
  position:absolute;
  left:95px;
  top:38px;
  width:19px;
  height:16px;
}
#u1300 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  visibility:hidden;
  white-space:nowrap;
}
#u1301_div {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1301 {
  position:absolute;
  left:91px;
  top:54px;
  width:446px;
  height:28px;
}
#u1302 {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  white-space:nowrap;
}
#u1303_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u1303 {
  position:absolute;
  left:19px;
  top:7px;
  width:33px;
  height:20px;
  opacity:0.8;
}
#u1304 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
