
{__CONTENT__}

<!--底部开始-->
<div class="weui_tabbar" >
	<a href="/index.php/home/index/index" class="weui_tabbar_item ">
		<div class="weui_tabbar_icon">
			<img src="__PUBLIC__/home/images/b1.jpg" alt="">
		</div>
		<p class="weui_tabbar_label">主页</p>
	</a>
	<a href="/index.php/home/index/sousuo" class="weui_tabbar_item">
		<div class="weui_tabbar_icon">
			<img src="__PUBLIC__/home/images/b2.jpg" alt="">
		</div>
		<p class="weui_tabbar_label">搜索</p>
	</a>
	<a href="/index.php/home/dingdan/gouwuche_queren" class="weui_tabbar_item">
		<div class="weui_tabbar_icon">
			<img src="__PUBLIC__/home/images/b3.jpg" alt="">
		</div>
		<p class="weui_tabbar_label">购物车</p>
	</a>
	<a href="/index.php/home/personal/personal" class="weui_tabbar_item">
		<div class="weui_tabbar_icon">
			<img src="__PUBLIC__/home/images/b4.jpg" alt="">
		</div>
		<p class="weui_tabbar_label">个人中心</p>
	</a>
</div>





<!--底部结束-->
</div>
</body>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js" ></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-weui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/home/js/swiper.js" charset="utf-8"></script>

</html>
