
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i>
            <a href="{:U('/admin/seller/seller')}">首页</a><span class="crumb-step">&gt;</span>
            <a class="crumb-name" href="{:U('/admin/goods/design')}">商品管理</a>
            <span class="crumb-step">&gt;</span><span>商品图片修改</span></div>
    </div>
    <div class="result-wrap">
        <div class="result-content">
            <form action="/index.php/admin/goods/goodsPic/id/{$seller.bs_gid}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%">
                    <tbody>
                    <tr>
                        <th><i class="require-red">*</i>头像：</th>
                        <td>
                            <input name="bs_gurl" id="" type="file">
                        </td>
                    </tr>
                    <td type="hidden" name="bs_gid" value="{$seller.bs_gid}"></td>

                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody></table>
            </form>
        </div>
    </div>

</div>
<!--/main-->
