
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list"><i class="icon-font"></i><a href="/admin/seller/seller">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">商品管理</span></div>
    </div>
    <div class="search-wrap">
        <div class="search-content">
            <form action="/jscss/admin/design/index" method="post">
                <table class="search-tab">
                    <tr>
                        <th width="120">选择商品种类:</th>
                        <td>
                            <select name="search-sort" id="catid">
                                <option value="">全部</option>
                                <volist name="btype" id="vo">
                                    <option value="{$vo.bs_tname}">{$vo.bs_tname}</option>
                                </volist>
                            </select>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <div class="result-wrap">
        <form name="myform" id="myform" method="post" action="__URL__/destoryBatch">
            <div class="result-title">
                <div class="result-list">
                    <a href="/admin/goods/addgds"><i class="icon-font"></i>新增商品</a>
                    <button id="batchDel" type="submit"><i class="icon-font"></i>批量删除</button>
                </div>
            </div>
            <div class="result-content">
                <table class="result-tab" width="100%">
                    <tr>
                        <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                        <th>商品ID</th>
                        <th>商品名称</th>
                        <th>商品型号(颜色)</th>
                        <th>商品单价</th>
                        <th>商品库存</th>
                        <th>商品图片</th>
                        <th>商品描述</th>
                        <th>操作</th>
                    </tr>
                    <volist name="bgoods" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.bs_gid}" type="checkbox"></td>
                            <td>{$vo.bs_gid}</td>
                            <td title=""><a target="_blank" href="#" title="">{$vo.bs_gname}</a>
                            </td>
                            <td>{$vo.bs_gsize}</td>
                            <td>{$vo.bs_gprice}</td>
                            <td>{$vo.bs_gnumber}</td>
                            <td>
                                <span class="res-info"><img src="__PUBLIC__/{$vo.bs_gurl}" class="res-labb"/></span>
                            </td>
                            <td>{$vo.bs_gdescription}</td>
                            <td>
                                <a class="link-update" href="__URL__/changegds/id/{$vo.bs_gid}">修改</a>
                                <a class="delete" href="__URL__/delete/id/{$vo.bs_gid}" >删除</a>
                            </td>
                        </tr>
                    </volist>
                </table>
                <div class="list-page">
                    {$pages}
                </div>
            </div>
        </form>
    </div>
</div>
<!--/main-->

<script>
    document.getElementById("1").style.display="none";
    document.getElementById("1").style.display="inline";

    //实现下拉菜单代码
    //$(function () {
    //    $("#catid option:selected").click(function () {
    //        var options=$("#catid option:selected");
    //        var text=alert(options.text());
    //        if ("炒酸奶" ==text){
    //
    //        }
    //    })
    //})
    //    批量删除
    /* 批量删除 */
    // 全选
    //$('.allChoose').click(function() {
    //    if($(this).is(':checked')) {
    //        $(':checkbox').attr('checked', 'checked');
    //    } else {
    //        $(':checkbox').removeAttr('checked');
    //    }
    //});

    // 删除操作
    //$('#batchDel').click(function() {
    //    if($(':checked').size() > 0) {
    //        layer.confirm('确定要删除吗？', {
    //            btn: ['确定','取消'], //按钮
    //            shade: false //不显示遮罩
    //        }, function(){
    //            $.post("{:U('Single/discard')}", {data: $('form').serializeArray()}, function(res) {
    //                if(res.state == 1) {
    //                    layer.msg(res.message, {icon: 1, time: 1000});
    //                } else {
    //                    layer.msg(res.message, {icon: 2, time: 1000});
    //                }
    //                setTimeout(function() {
    //                    location.reload();
    //                }, 1000);
    //            });
    //        }, function(){
    //            layer.msg('取消了删除！', {time: 1000});
    //        });
    //    } else {
    //        layer.alert('没有选择！');
    //    }
    //});
</script>