
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="">首页</a>
                <span class="crumb-step">&gt;</span><span class="crumb-name">兼职者管理</span></div>
        </div>

        <div class="result-wrap">
            <table class="insert-tab" width="100%">
                <tbody>

                <tr>
                    <td>兼职者昵称</td>
                    <td>{$pluralist[0]['pt_pname']}</td>
                </tr>
                <tr>
                    <td>兼职者手机号</td>
                    <td>{$pluralist[0]['pt_pphone']}</td>
                </tr>
                <tr>
                    <td>兼职者状态</td>
                    <td>{$pluralist[0]['pt_sname']}</td>
                </tr>
                <tr>
                    <td>兼职交易is</td>
                    <td>{$pluralist[0]['pt_trid']}</td>
                </tr>

                <tr>
                    <td>可预约时间</td>
                    <td>{$pluralist[0]['pt_trtime']}</td>
                </tr>
                <tr>
                    <td>交易备注</td>
                    <td>{$pluralist[0]['pt_trremark']}</td>
                </tr>


                <tr>
                    <td>违约次数</td>
                    <td>0</td>
                </tr>


                </tbody></table>


        </div>
    </div>
    <!--/main-->
