body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:265px;
}
#u876 {
  position:absolute;
  left:10px;
  top:0px;
  width:650px;
  height:265px;
}
#u877 {
  position:absolute;
  left:2px;
  top:124px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878 {
  position:absolute;
  left:10px;
  top:645px;
  width:650px;
  height:40px;
}
#u878_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:656px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u879 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:45px;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u880 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u881 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u882 {
  position:absolute;
  left:162px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u883 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u884 {
  position:absolute;
  left:326px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u885 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u886 {
  position:absolute;
  left:486px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u887 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:30px;
}
#u888 {
  position:absolute;
  left:23px;
  top:9px;
  width:25px;
  height:30px;
}
#u889 {
  position:absolute;
  left:2px;
  top:7px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890 {
  position:absolute;
  left:34px;
  top:312px;
  width:600px;
  height:30px;
}
#u890_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:606px;
  height:36px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u891 {
  position:absolute;
  left:0px;
  top:0px;
  width:605px;
  height:35px;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u892 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u893 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u894 {
  position:absolute;
  left:150px;
  top:0px;
  width:150px;
  height:30px;
}
#u895 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u896 {
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
}
#u897 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u898 {
  position:absolute;
  left:450px;
  top:0px;
  width:150px;
  height:30px;
}
#u899 {
  position:absolute;
  left:2px;
  top:7px;
  width:146px;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:23px;
  top:286px;
  width:71px;
  height:16px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u902_img {
  position:absolute;
  left:-4px;
  top:-4px;
  width:35px;
  height:40px;
}
#u902 {
  position:absolute;
  left:23px;
  top:363px;
  width:25px;
  height:30px;
}
#u903 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:58px;
  top:370px;
  width:99px;
  height:16px;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:17px;
  top:438px;
  width:71px;
  height:16px;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u908 {
  position:absolute;
  left:193px;
  top:438px;
  width:100px;
  height:16px;
}
#u909 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u908_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u910 {
  position:absolute;
  left:293px;
  top:438px;
  width:100px;
  height:16px;
}
#u911 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u910_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:17px;
  top:524px;
  width:99px;
  height:16px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:475px;
  top:567px;
  width:140px;
  height:40px;
}
#u915 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:236px;
  top:378px;
  width:80px;
  height:20px;
}
#u916_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u916_input:disabled {
  color:grayText;
}
#u917 {
  position:absolute;
  left:315px;
  top:378px;
  width:80px;
  height:20px;
}
#u917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u917_input:disabled {
  color:grayText;
}
#u918 {
  position:absolute;
  left:395px;
  top:378px;
  width:80px;
  height:20px;
}
#u918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u918_input:disabled {
  color:grayText;
}
#u919 {
  position:absolute;
  left:475px;
  top:378px;
  width:80px;
  height:20px;
}
#u919_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u919_input:disabled {
  color:grayText;
}
#u920 {
  position:absolute;
  left:116px;
  top:520px;
  width:300px;
  height:25px;
}
#u920_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
