body {
  margin:0px;
  background-color:rgba(204, 204, 204, 0.298039215686275);
  background-image:none;
  position:static;
  left:auto;
  width:649px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:633px;
  height:42px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1186 {
  position:absolute;
  left:16px;
  top:0px;
  width:633px;
  height:42px;
}
#u1187 {
  position:absolute;
  left:2px;
  top:13px;
  width:629px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1188 {
  position:absolute;
  left:276px;
  top:9px;
  width:97px;
  height:25px;
}
#u1188_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1189 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-size:16px;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1190 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u1190_img.selected {
}
#u1190.selected {
}
#u1191 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1192_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1192 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u1193 {
  position:absolute;
  left:3px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u1189_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
}
#u1194 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
}
#u1195_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1195 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u1196 {
  position:absolute;
  left:3px;
  top:2px;
  width:27px;
  white-space:nowrap;
}
#u1197 {
  position:absolute;
  left:20px;
  top:40px;
  width:75px;
  height:20px;
}
#u1198_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1198 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u1199 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u1200 {
  position:absolute;
  left:20px;
  top:60px;
  width:75px;
  height:20px;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  position:absolute;
  left:22px;
  top:0px;
  width:53px;
  height:20px;
}
#u1202 {
  position:absolute;
  left:3px;
  top:2px;
  width:48px;
  white-space:nowrap;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u1203 {
  position:absolute;
  left:609px;
  top:13px;
  width:29px;
  height:16px;
}
#u1204 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  position:absolute;
  left:15px;
  top:95px;
  width:630px;
  height:41px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:12px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u1207 {
  position:absolute;
  left:25px;
  top:102px;
  width:27px;
  height:28px;
}
#u1208 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1209 {
  position:absolute;
  left:72px;
  top:95px;
  width:262px;
  height:42px;
  text-align:left;
}
#u1210 {
  position:absolute;
  left:2px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1211 {
  position:absolute;
  left:409px;
  top:95px;
  width:236px;
  height:41px;
  color:#FF0000;
  text-align:right;
}
#u1212 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:115px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  position:absolute;
  left:15px;
  top:137px;
  width:630px;
  height:115px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:50px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:93px;
}
#u1215 {
  position:absolute;
  left:22px;
  top:147px;
  width:146px;
  height:93px;
}
#u1216 {
  position:absolute;
  left:2px;
  top:38px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1217 {
  position:absolute;
  left:180px;
  top:137px;
  width:374px;
  height:103px;
  text-align:left;
}
#u1218 {
  position:absolute;
  left:2px;
  top:44px;
  width:370px;
  word-wrap:break-word;
}
#u1219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1219 {
  position:absolute;
  left:554px;
  top:137px;
  width:91px;
  height:103px;
}
#u1220 {
  position:absolute;
  left:2px;
  top:36px;
  width:87px;
  word-wrap:break-word;
}
#u1221_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1221 {
  position:absolute;
  left:15px;
  top:240px;
  width:630px;
  height:39px;
  text-align:right;
}
#u1222 {
  position:absolute;
  left:2px;
  top:12px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1223 {
  position:absolute;
  left:515px;
  top:240px;
  width:130px;
  height:39px;
}
#u1224 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1225 {
  position:absolute;
  left:342px;
  top:240px;
  width:146px;
  height:39px;
}
#u1226 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u1227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u1227 {
  position:absolute;
  left:15px;
  top:278px;
  width:630px;
  height:1px;
}
#u1228 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1229_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1229 {
  position:absolute;
  left:352px;
  top:289px;
  width:91px;
  height:36px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1231_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1231 {
  position:absolute;
  left:453px;
  top:289px;
  width:91px;
  height:36px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1233 {
  position:absolute;
  left:554px;
  top:289px;
  width:91px;
  height:36px;
  color:#FF0000;
}
#u1234 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u1235 {
  position:absolute;
  left:15px;
  top:338px;
  width:630px;
  height:1px;
}
#u1236 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1237 {
  position:absolute;
  left:16px;
  top:758px;
  width:625px;
  height:41px;
}
#u1237_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:631px;
  height:47px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1238 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:46px;
}
#u1239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
}
#u1239 {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:41px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1240 {
  position:absolute;
  left:2px;
  top:12px;
  width:161px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:41px;
}
#u1241 {
  position:absolute;
  left:165px;
  top:0px;
  width:166px;
  height:41px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:12px;
  width:162px;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:41px;
}
#u1243 {
  position:absolute;
  left:331px;
  top:0px;
  width:164px;
  height:41px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:41px;
}
#u1245 {
  position:absolute;
  left:495px;
  top:0px;
  width:130px;
  height:41px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u1247 {
  position:absolute;
  left:19px;
  top:7px;
  width:33px;
  height:20px;
  opacity:0.8;
}
#u1248 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
#u1249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:42px;
}
#u1249 {
  position:absolute;
  left:330px;
  top:43px;
  width:319px;
  height:42px;
}
#u1250 {
  position:absolute;
  left:2px;
  top:13px;
  width:315px;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:311px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1251 {
  position:absolute;
  left:16px;
  top:43px;
  width:311px;
  height:42px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:13px;
  width:307px;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1253 {
  position:absolute;
  left:7px;
  top:360px;
  width:630px;
  height:41px;
}
#u1254 {
  position:absolute;
  left:2px;
  top:12px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:28px;
}
#u1255 {
  position:absolute;
  left:17px;
  top:367px;
  width:27px;
  height:28px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1257 {
  position:absolute;
  left:64px;
  top:360px;
  width:262px;
  height:42px;
  text-align:left;
}
#u1258 {
  position:absolute;
  left:2px;
  top:13px;
  width:258px;
  word-wrap:break-word;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  text-align:right;
}
#u1259 {
  position:absolute;
  left:401px;
  top:360px;
  width:236px;
  height:41px;
  color:#FF0000;
  text-align:right;
}
#u1260 {
  position:absolute;
  left:2px;
  top:12px;
  width:232px;
  word-wrap:break-word;
}
#u1261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:115px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1261 {
  position:absolute;
  left:7px;
  top:402px;
  width:630px;
  height:115px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:50px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:93px;
}
#u1263 {
  position:absolute;
  left:14px;
  top:412px;
  width:146px;
  height:93px;
}
#u1264 {
  position:absolute;
  left:2px;
  top:38px;
  width:142px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1265 {
  position:absolute;
  left:172px;
  top:402px;
  width:374px;
  height:103px;
  text-align:left;
}
#u1266 {
  position:absolute;
  left:2px;
  top:44px;
  width:370px;
  word-wrap:break-word;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:103px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1267 {
  position:absolute;
  left:546px;
  top:402px;
  width:91px;
  height:103px;
}
#u1268 {
  position:absolute;
  left:2px;
  top:36px;
  width:87px;
  word-wrap:break-word;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:right;
}
#u1269 {
  position:absolute;
  left:7px;
  top:505px;
  width:630px;
  height:39px;
  text-align:right;
}
#u1270 {
  position:absolute;
  left:2px;
  top:12px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1271 {
  position:absolute;
  left:507px;
  top:505px;
  width:130px;
  height:39px;
}
#u1272 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u1273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1273 {
  position:absolute;
  left:334px;
  top:505px;
  width:146px;
  height:39px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:12px;
  width:142px;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u1275 {
  position:absolute;
  left:7px;
  top:543px;
  width:630px;
  height:1px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1277 {
  position:absolute;
  left:344px;
  top:554px;
  width:91px;
  height:36px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1279 {
  position:absolute;
  left:445px;
  top:554px;
  width:91px;
  height:36px;
}
#u1280 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u1281 {
  position:absolute;
  left:546px;
  top:554px;
  width:91px;
  height:36px;
  color:#FF0000;
}
#u1282 {
  position:absolute;
  left:2px;
  top:10px;
  width:87px;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:2px;
}
#u1283 {
  position:absolute;
  left:7px;
  top:603px;
  width:630px;
  height:1px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:-8px;
  width:626px;
  visibility:hidden;
  word-wrap:break-word;
}
