
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i>
                <a href="/admin/seller/seller">首页</a><span class="crumb-step">&gt;</span>
                <span class="crumb-name">管理订单</span></div>
        </div>
        <div class="search-wrap">
            <div class="search-content">
                <form action="/jscss/admin/design/index" method="post">
                    <table class="search-tab">
                        <tr>
                            <th width="120">选择交易状态分类:</th>
                            <td>
                                <select name="search-sort" id="dis">
                                    <option value="">全部</option>
                                    <volist name="tstate" id="vo" >
                                        <option value="{$vo.ts_name}">{$vo.ts_name}</option>
                                    </volist>
                                </select>
                            </td>
                            <td><input class="btn btn-primary btn2" name="sub" value="查询" type="submit"></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="result-wrap">
            <form name="myform" id="myform" method="post">
                <div class="result-title">
                    <div class="result-list">
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>订单交易ID</th>
                            <th>交易用户</th>
                            <th>下单时间</th>
                            <th>交易方式</th>
                            <th>订单状态</th>
                            <th>操作</th>
                        </tr>
                        <volist name="tstates" id="vo">
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>{$vo.bs_tr_id}</td>
                            <td>{$vo.ci_name}</td>
                            <td>{$vo.bs_tr_xtime}</td>
                            <td>{$vo.bs_tr_way}</td>
                            <td>{$vo.ts_name}</td>

                            <td>
                                <a class="link-view" href="dingview/id/{$vo.bs_tr_id}">查看</a>
                                <!--<a class="delete" href="__URL__/delete/id/{$vo.bs_tr_id}">删除</a>-->
                                <a class="delete" href="" name="{$vo.bs_tr_id}">删除</a>
                            </td>
                        </tr>
                        </volist>

                    </table>
                    <div class="list-page">{$pages}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
    <script type="text/javascript">
        $(document).ready(function(){
            //检测js文件是否引入成功
            console.log('恭喜你,jquery文件引入成功');

            $(".delete").click(function(){
                var alarm = confirm('是否确定要删除？');
                confirm(alarm);
                if(alarm == true){
                    var id = $(this).attr('name');
                    confirm(id);

                    //attr()设置被选元素的属性和值。//获取要删除的数据的id
                    var self = $(this);
                    $.post("{:U('admin/ding/delete/')}",//执行删除操作的页面
                            {'id':id},//删除页面所需要的要删除的数据id

                            function(data){
                                //请求成功后隐藏该记录
                                var child = self.parent().parent();//获取当前结点父结点的父结点
                                child.hide();//隐藏信息

                            }//function(data)处的括号
                    );//post结尾处的括号
                }
            });
        });
    </script>

