<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="/admin/seller/seller">首页</a><span class="crumb-step">&gt;</span>
            <a class="crumb-name" href="/admin/ding/ding">订单管理</a>
            <span class="crumb-step">&gt;</span><span>订单详情</span>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-content">

            <div class="result-content">
                    <table class="result-tab" width="60%">
                        <tr>
                            <td rowspan="{$num}">商品</td>
                            <td>商品名称</td>
                            <td>单价</td>
                            <td>数量</td>
                        </tr>
                        <volist name="shangpin" id="vo">
                        <tr>
                            <td>{$vo.bs_gname}</td>
                            <td>{$vo.bs_gprice}</td>
                            <td>{$vo.bs_mgnum}</td>
                        </tr>
                        </volist>


                        <tr>
                            <td>总金额</td>
                            <td colspan="3">{$btin.bs_tr_inmoney}</td>
                        </tr>
                        <tr>
                            <td>用户昵称</td>
                            <td colspan="3">{$name.ci_name}</td>
                        </tr>
                        <tr>
                            <td>用户地址</td>
                            <td colspan="3">{$btin.bs_tr_inaddress}</td>
                        </tr>
                        <tr>
                            <td>用户联系方式</td>
                            <td colspan="3">{$btin.bs_tr_inphone}</td>
                        </tr>
                        <tr>
                          <td colspan="4">
                              <a class="btn btn5" href="/admin/ding/ding"  type="button">返回</a>
                              <a class="btn btn-primary btn2 mr3" href="/admin/ding/danConfirm?id={$btin.bs_tr_idd}">订单完成</a>
                              <a class="btn btn-primary btn2 mr1" href="/admin/ding/danCancel?id={$btin.bs_tr_idd}">取消预约</a>
                          </td>
                        </tr>
                    </table>

                </div>
        </div>
    </div>

</div>