<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="/admin/seller/seller">首页</a><span class="crumb-step">&gt;</span>
            <a class="crumb-name" href="/admin/ding/ding">订单管理</a>
            <span class="crumb-step">&gt;</span><span>订单详情</span>
        </div>
    </div>

    <div class="result-wrap">
        <div class="result-content">
            <form action="/jscss/admin/design/add" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <div class="result-title">
                    <div class="result-list">
                        <a id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</a>
                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>
                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox"></th>
                            <th>商品名称</th>
                            <th>商品单价</th>
                            <th>商品数量</th>
                            <th>商品总金额</th>
                            <th>交易客户</th>
                            <th>客户地址</th>
                            <th>客户联系方式</th>
                            <th>操作</th>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>可口可乐</td>
                            <td>10元</td>
                            <td>2</td>
                            <td>20</td>
                            <td>妮妮</td>
                            <td>二期宿舍</td>
                            <td>15234356787</td>
                            <td>
                                <a class="link-del" href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>可口可乐</td>
                            <td>10元</td>
                            <td>2</td>
                            <td>20</td>
                            <td>妮妮</td>
                            <td>二期宿舍</td>
                            <td>15234356787</td>
                            <td>
                                <a class="link-del" href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td class="tc"><input name="id[]" value="59" type="checkbox"></td>
                            <td>可口可乐</td>
                            <td>10元</td>
                            <td>2</td>
                            <td>20</td>
                            <td>妮妮</td>
                            <td>二期宿舍</td>
                            <td>15234356787</td>
                            <td>
                                <a class="link-del" href="#">删除</a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        </div>
    </div>

</div>