body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:650px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u203 {
  position:absolute;
  left:51px;
  top:170px;
  width:100px;
  height:80px;
}
#u204 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u205 {
  position:absolute;
  left:182px;
  top:170px;
  width:100px;
  height:80px;
}
#u206 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u207 {
  position:absolute;
  left:340px;
  top:170px;
  width:100px;
  height:80px;
}
#u208 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:80px;
}
#u209 {
  position:absolute;
  left:502px;
  top:170px;
  width:100px;
  height:80px;
}
#u210 {
  position:absolute;
  left:2px;
  top:32px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u211 {
  position:absolute;
  left:20px;
  top:570px;
  width:32px;
  height:16px;
}
#u212 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  visibility:hidden;
  white-space:nowrap;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:150px;
}
#u213 {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:150px;
}
#u214 {
  position:absolute;
  left:2px;
  top:67px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u215 {
  position:absolute;
  left:0px;
  top:586px;
  width:650px;
  height:40px;
}
#u215_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:656px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u216 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:45px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u218 {
  position:absolute;
  left:2px;
  top:11px;
  width:162px;
  word-wrap:break-word;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:40px;
}
#u219 {
  position:absolute;
  left:166px;
  top:0px;
  width:167px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u220 {
  position:absolute;
  left:2px;
  top:11px;
  width:163px;
  word-wrap:break-word;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:40px;
}
#u221 {
  position:absolute;
  left:333px;
  top:0px;
  width:165px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u222 {
  position:absolute;
  left:2px;
  top:11px;
  width:161px;
  word-wrap:break-word;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:40px;
}
#u223 {
  position:absolute;
  left:498px;
  top:0px;
  width:152px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u224 {
  position:absolute;
  left:2px;
  top:11px;
  width:148px;
  word-wrap:break-word;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:87px;
}
#u225 {
  position:absolute;
  left:0px;
  top:267px;
  width:650px;
  height:87px;
}
#u226 {
  position:absolute;
  left:2px;
  top:36px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:232px;
}
#u227 {
  position:absolute;
  left:0px;
  top:354px;
  width:650px;
  height:232px;
}
#u228 {
  position:absolute;
  left:2px;
  top:108px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
}
#u229 {
  position:absolute;
  left:19px;
  top:7px;
  width:33px;
  height:20px;
  opacity:0.8;
}
#u230 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  white-space:nowrap;
}
