<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main.css"/>
    <script type="text/javascript" src="__PUBLIC__/js/libs/modernizr.min.js"></script>
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js"></script>
</head>
<body>
<div class="topbar-wrap white">
    <div class="topbar-inner clearfix">
        <div class="topbar-logo-wrap clearfix">
            <h1 class="topbar-logo none"><a href="index.html" class="navbar-brand">后台管理</a></h1>
            <ul class="navbar-list clearfix">
                <li><a class="on" href="index.html">首页</a></li>
                <li><a href="#" target="_blank">网站首页</a></li>
            </ul>
        </div>
        <div class="top-info-wrap">
            <ul class="top-info-list clearfix">
                <li><a href="http://www.jscss.me">管理员</a></li>
                <li><a href="http://www.jscss.me">修改密码</a></li>
                <li><a href="http://www.jscss.me">退出</a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container clearfix">
    <div class="sidebar-wrap">
        <div class="sidebar-title">
            <h1>评价管理</h1>
        </div>
        <div class="sidebar-content">
            <ul class="sidebar-list">
                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>评价信息管理</a>
                    <ul class="sub-menu">
                        <li><a href="/assess/assess/assess"><i class="icon-font">&#xe008;</i>查看评价</a></li>
                        <!--<li><a href="lan/"><i class="icon-font">&#xe004;</i>编辑评价</a></li>-->

                    </ul>
                </li>
                <li>
                    <a href=""><i class="icon-font">&#xe003;</i>发布者信息管理</a>
                    <ul class="sub-menu">
                        <li><a href="/assess/publisher/add"><i class="icon-font">&#xe008;</i>添加发布者</a></li>
                        <li><a href="/assess/publisher/publisher"><i class="icon-font">&#xe004;</i>查看发布者</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#"><i class="icon-font">&#xe003;</i>兼职者管理</a>
                    <ul class="sub-menu">
                        <li><a href="/assess/pluralist/pluralist"><i class="icon-font">&#xe008;</i>查看兼职者</a></li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
{__CONTENT__}
</div>
</body>
</html>