
<!--/sidebar-->
<div class="main-wrap">

    <div class="crumb-wrap">
        <div class="crumb-list">
            <i class="icon-font"></i>
            <a href="/admin/seller/seller">首页</a><span class="crumb-step">&gt;
                </span><a class="crumb-name" href="/admin/lan/lan">商品种类管理</a>
            <span class="crumb-step">&gt;</span><span>修改商品种类</span>
        </div>
    </div>
    <div class="result-wrap">
        <div class="result-content" >
            <form action="/admin/lan/updatelan/id/{$stype.bs_tid}" method="post" id="myform" name="myform" enctype="multipart/form-data">
                <table class="insert-tab" width="100%" >
                    <tbody>
                    <tr>
                        <th><i class="require-red">*</i>商品种类名称：</th>
                        <td>
                            <input class="common-text required" id="title" name="bs_tname" size="50" value="{$stype.bs_tname}" type="text">
                        </td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <input class="btn btn-primary btn6 mr10" value="修改" type="submit">
                            <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

</div>
<!--/main-->
