<!DOCTYPE html>
<html>
<head>
    <title>美发店</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href="__PUBLIC__/home/css/weui.min.css" type="text/css" rel="stylesheet">
	<link href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css" rel="stylesheet">
    <style>
        html,body{
            height:100%;
        }
        .weui-col-20 img{
            height: 38px;
            padding-top:2px;
            padding-left: 4px;
        }
        .top{
            float: left;
            margin-left:2%;
            width: 30%;
        }
        .ims{
            text-align: center;
        }
        .f{
            margin-top: -10px;
            text-align: center;
            font-family: 隶书;
            font-size: 14px;
        }
        .weui_tab{
            width: 100%;
            float: left;
        }
        .t1{
            margin-top: 10px;
            margin-left: 12px;
            margin-right: 10px;
            float: left;
            width: 100%;
            border-bottom: 1px #c7c7c7 solid;
        }
        .top1{
            float: left;
            width: 25%;
        }
        .top1 img{
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
        .f1{
            margin-top: -10px;
            font-family: 隶书;
            margin-left: 20%;
            font-size: 16px;
        }
        .ap{
            margin-top: 10px;
            margin-bottom: 8px;
            margin-left: 10px;
        }
        
        .back{
        margin-top:10px;
        float:left;
        }
        .set{
        width:80%;
        padding-top:10px;
        margin:0 auto;
    	text-align:center;
		font-size:22px;
        }
    </style>
</head>
<body>
<div class="weui_tab">
    <div class="weui_tab_bd">
    

		    <div>
		    <!-- 返回图标开始 -->
		    <div   class="back" >
		    <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
		    </div>
		    <div class="set" name="set">
		    {$set.si_name}
		    </div>
		    <!-- 返回图标结束 -->	
		    </div>

        <div class="line">
            <img src="__PUBLIC__/{$set.si_image}"alt="" style="width:100%">
            <div class="littletitle" name="set">
                <a class="top" href="/index.php/home/lifa/jianjie?si_id={$set.si_id}" id="{$set.si_id}">
                    <div class="ims"><img src="__PUBLIC__/home/images/51.png" alt=""></div>
                    <div class="f">本店简介</div>
                </a>
                <a class="top" href="/index.php/home/lifa/yuyue?si_id={$set.si_id}" id="{$set.si_id}">
                    <div class="ims"><img src="__PUBLIC__/home/images/52.png" alt=""></div>
                    <div class="f">预约服务</div>
                </a>
                <a class="top" href="/index.php/home/pingjia/fengping?id={$set.si_id}" id="{$set.si_id}" >
                    <div class="ims"><img src="__PUBLIC__/home/images/53.png" alt=""></div>
                    <div class="f">顾客风评</div>
                </a>
            </div>
        </div>

        <div class="weui_tab">
            <div class="weui_navbar">
                <a class="weui_navbar_item weui_bar_item_on">
                    剪发
                </a>
                <a class="weui_navbar_item">
                    烫发
                </a>
                <a class="weui_navbar_item">
                    染发
                </a>
                <a class="weui_navbar_item">
                   拉直
                </a>
            </div>
            <div class="weui_tab_bd">
                <div class="content">
                    <div class="ap">
                        剪发分类:
                    </div>
                    <hr/>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h1.jpg" alt=""></div>
                            <div class="f1">剪发</div>
                        </div>
                        <div class="top2"><p>女士：剪发15元</p></div>
                    </div>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h5.jpg" alt=""></div>
                            <div class="f1">剪发</div>
                        </div>
                        <div class="top2"><p>男士：精剪寸头10元</p></div>
                    </div>

                    

                </div>
                <div class="content" style="display:none">
                    <div class="ap">
                       烫发分类:
                    </div>
                    <hr/>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h3.jpg" alt=""></div>
                            <div class="f1">烫发</div>
                        </div>
                        <div class="top2"><p>女士：</p></div>
                        <div class="top2"><p>大卷&nbsp;&nbsp;小卷&nbsp;&nbsp;中卷</p></div>
                    </div>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h5.jpg" alt=""></div>
                            <div class="f1">烫发</div>
                        </div>
                        <div class="top2"><p>男士：</p></div>
                        <div class="top2"><p>锡纸烫&nbsp;&nbsp;发根定位烫&nbsp;&nbsp;离子烫</p></div>
                    </div>
                </div>



                <div class="content" style="display:none">
                    <div class="ap">
                        染发分类:
                    </div>
                    <hr/>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h2.jpeg" alt=""></div>
                            <div class="f1">染发</div>
                        </div>
                        <div class="top2"><p>女士：</p></div>
                        <div class="top2"><p>颜色：&nbsp;&nbsp;板栗色(深色/浅色)&nbsp;&nbsp;棕红色(深色/浅色)&nbsp;&nbsp;黑色&nbsp;&nbsp;灰色&nbsp;&nbsp;亚麻色&nbsp;&nbsp;咖啡色(深色)</p></div>
                    </div>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h5.jpg" alt=""></div>
                            <div class="f1">染发</div>
                        </div>
                        <div class="top2"><p>男士：</p></div>
                        <div class="top2"><p>颜色：&nbsp;&nbsp;板栗色(深色/浅色)&nbsp;&nbsp;棕红色(深色/浅色)&nbsp;&nbsp;黑色&nbsp;&nbsp;灰色&nbsp;&nbsp;亚麻色&nbsp;&nbsp;咖啡色(深色)</p></div>
                    </div>
                </div>



                <div class="content" style="display:none">
                    <div class="ap">
                        拉直分类:
                    </div>
                    <hr/>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h4.jpeg" alt=""></div>
                            <div class="f1">拉直</div>
                        </div>
                        <div class="top2"><p>头发干枯：</p></div>
                    </div>
                    <div class="t1">
                        <div class="top1" >
                            <div><img src="__PUBLIC__/home/images/h4.jpeg" alt=""></div>
                            <div class="f1">拉直</div>
                        </div>
                        <div class="top2"><p>初始卷发：</p></div>
                    </div>
                </div>
            </div>
        </div>

    <!--&lt;!&ndash;底部开始&ndash;&gt;-->
    <!--<div class="weui_tabbar">-->
		<!--<a href="index.html" class="weui_tabbar_item weui_bar_item_on">-->
			<!--<div class="weui_tabbar_icon">-->
				<!--<img src="__PUBLIC__/home/images/b1.jpg" alt="">-->
			<!--</div>-->
			<!--<p class="weui_tabbar_label">首页</p>-->
		<!--</a>-->
		<!--<a href="sousuo.html" class="weui_tabbar_item">-->
			<!--<div class="weui_tabbar_icon">-->
				<!--<img src="__PUBLIC__/home/images/b2.jpg" alt="">-->
			<!--</div>-->
			<!--<p class="weui_tabbar_label">搜索</p>-->
		<!--</a>-->
		<!--<a href="gouwuche.html" class="weui_tabbar_item">-->
			<!--<div class="weui_tabbar_icon">-->
				<!--<img src="__PUBLIC__/home/images/b3.jpg" alt="">-->
			<!--</div>-->
			<!--<p class="weui_tabbar_label">购物车</p>-->
		<!--</a>-->
		<!--<a href="personal.html" class="weui_tabbar_item">-->
			<!--<div class="weui_tabbar_icon">-->
				<!--<img src="__PUBLIC__/home/images/b4.jpg" alt="">-->
			<!--</div>-->
			<!--<p class="weui_tabbar_label">个人中心</p>-->
		<!--</a>-->
        <!--</div>-->
    <!--&lt;!&ndash;底部结束&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</body>-->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js" ></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-weui.min.js"></script>
<script type="text/javascript">
    $(".weui_navbar .weui_navbar_item").click(function(){
        $(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//全部没有weui_bar_item_on
        $(this).addClass("weui_bar_item_on");//点谁谁有weui_bar_item_on
        //判断点的第几个选项卡
        var which = $(this).index();
        //console.log(which);
        //让所有内容区域隐藏
        $(".weui_tab_bd .content").hide();
        //按照索引选择内容
        $(".weui_tab_bd .content:eq("+which+")").show();
    });
</script>
</html>
