body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:660px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:869px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:10px;
  top:0px;
  width:650px;
  height:869px;
}
#u769 {
  position:absolute;
  left:2px;
  top:426px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:650px;
  height:265px;
}
#u770 {
  position:absolute;
  left:10px;
  top:0px;
  width:650px;
  height:265px;
}
#u771 {
  position:absolute;
  left:2px;
  top:124px;
  width:646px;
  visibility:hidden;
  word-wrap:break-word;
}
#u772 {
  position:absolute;
  left:10px;
  top:829px;
  width:650px;
  height:40px;
}
#u772_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:656px;
  height:46px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u773 {
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:45px;
}
#u774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u774 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u775 {
  position:absolute;
  left:2px;
  top:11px;
  width:158px;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u776 {
  position:absolute;
  left:162px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u777 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:40px;
}
#u778 {
  position:absolute;
  left:326px;
  top:0px;
  width:160px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u779 {
  position:absolute;
  left:2px;
  top:11px;
  width:156px;
  word-wrap:break-word;
}
#u780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u780 {
  position:absolute;
  left:486px;
  top:0px;
  width:164px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u781 {
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  position:absolute;
  left:100px;
  top:336px;
  width:130px;
  height:60px;
}
#u783 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u784 {
  position:absolute;
  left:100px;
  top:503px;
  width:130px;
  height:60px;
}
#u785 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u786_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u786 {
  position:absolute;
  left:100px;
  top:665px;
  width:130px;
  height:60px;
}
#u787 {
  position:absolute;
  left:2px;
  top:22px;
  width:126px;
  word-wrap:break-word;
}
#u788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:50px;
}
#u788 {
  position:absolute;
  left:529px;
  top:753px;
  width:130px;
  height:50px;
}
#u789 {
  position:absolute;
  left:2px;
  top:17px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:62px;
  top:275px;
  width:564px;
  height:51px;
}
#u790_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:570px;
  height:57px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u791 {
  position:absolute;
  left:0px;
  top:0px;
  width:569px;
  height:56px;
}
#u792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:51px;
}
#u792 {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:51px;
}
#u793 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:51px;
}
#u794 {
  position:absolute;
  left:188px;
  top:0px;
  width:188px;
  height:51px;
}
#u795 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:51px;
}
#u796 {
  position:absolute;
  left:376px;
  top:0px;
  width:188px;
  height:51px;
}
#u797 {
  position:absolute;
  left:2px;
  top:18px;
  width:184px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  position:absolute;
  left:10px;
  top:336px;
  width:90px;
  height:240px;
}
#u798_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:96px;
  height:246px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u799 {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:245px;
}
#u800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u800 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u801 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u802 {
  position:absolute;
  left:0px;
  top:60px;
  width:90px;
  height:60px;
}
#u803 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u804 {
  position:absolute;
  left:0px;
  top:120px;
  width:90px;
  height:60px;
}
#u805 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u806 {
  position:absolute;
  left:0px;
  top:180px;
  width:90px;
  height:60px;
}
#u807 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u808 {
  position:absolute;
  left:100px;
  top:502px;
  width:560px;
  height:1px;
}
#u809 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:2px;
}
#u810 {
  position:absolute;
  left:100px;
  top:665px;
  width:560px;
  height:1px;
}
#u811 {
  position:absolute;
  left:2px;
  top:-8px;
  width:556px;
  visibility:hidden;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:550px;
  height:2px;
}
#u812 {
  position:absolute;
  left:100px;
  top:336px;
  width:549px;
  height:1px;
}
#u813 {
  position:absolute;
  left:2px;
  top:-8px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u814 {
  position:absolute;
  left:287px;
  top:412px;
  width:193px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u815 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u816 {
  position:absolute;
  left:287px;
  top:579px;
  width:193px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u817 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u818 {
  position:absolute;
  left:296px;
  top:710px;
  width:193px;
  height:56px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u819 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:512px;
  top:290px;
  width:57px;
  height:36px;
}
#u821 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u822_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u822 {
  position:absolute;
  left:307px;
  top:291px;
  width:57px;
  height:20px;
}
#u823 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u824_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u824 {
  position:absolute;
  left:125px;
  top:291px;
  width:57px;
  height:20px;
}
#u825 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  white-space:nowrap;
}
#u826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:26px;
}
#u826 {
  position:absolute;
  left:19px;
  top:4px;
  width:33px;
  height:26px;
  opacity:0.8;
}
#u827 {
  position:absolute;
  left:2px;
  top:5px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
