
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><a class="crumb-name" href=" ">兼职管理</a><span class="crumb-step">&gt;</span><span>添加兼职</span></div>
        </div>
        <div class="result-wrap">
            <div class="result-content">

                <form action="/ParttimejobAdmin/parttimejob/addAction" method="post" id="myform" name="myform" enctype="multipart/form-data">
                    <table class="insert-tab" width="100%">
                        <tbody>
                        <!--插入发布者id的隐藏域 就可以添加数据-->
                        <input class="common-text" id="pt_min_id" name="pt_min_id" size="50"  type="hidden" value="{$pt_min_id}">

                            <tr>
                                <th><i class="require-red">*</i>兼职名称：</th>
                                <td>
                                    <input class="common-text" id="pt_inname" name="pt_inname" size="50"  type="text" value="">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职报酬：</th>
                                <td>
                                    <input class="common-text" id="pt_inmoney" name="pt_inmoney" size="50"  type="text" value="">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职时间起：</th>
                                <td>
                                    <input  name="pt_intime_a" type="date" value="">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职时间止：</th>
                                <td>
                                    <input  name="pt_intime_b" type="date" value="">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职周期从周几：</th>
                                <td>
                                    <select name="pt_inweeka" id="catid">
                                        <option value="一">星期一</option>
                                        <option value="二">星期二</option>
                                        <option value="三">星期三</option>
                                        <option value="四">星期四</option>
                                        <option value="五">星期五</option>
                                        <option value="六">星期六</option>
                                        <option value="日">星期日</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>到周几：</th>
                                <td>
                                    <select name="pt_inweekb">
                                        <option value="一">星期一</option>
                                        <option value="二">星期二</option>
                                        <option value="三">星期三</option>
                                        <option value="四">星期四</option>
                                        <option value="五">星期五</option>
                                        <option value="六">星期六</option>
                                        <option value="日">星期日</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职所需人数：</th>
                                <td>
                                    <input class="common-text required"  name="pt_innum" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职地址：</th>
                                <td>
                                    <input class="common-text required"  name="pt_inaddress" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>联系人手机号：</th>
                                <td>
                                    <input class="common-text required" name="pt_min_phonee" size="50" value="" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th><i class="require-red">*</i>兼职内容：</th>
                                <td><textarea  class="common-textarea" id="pt_inabstract" name="pt_inabstract" cols="30" style="width: 98%;" rows="10" value=""></textarea></td>
                            </tr>

                            <tr>
                                <th></th>
                                <td>
                                    <input class="btn btn-primary btn6 mr10" value="提交" type="submit">
                                    <input class="btn btn6" onclick="history.go(-1)" value="返回" type="button">
                                </td>
                            </tr>
                        </tbody></table>
                </form>
            </div>
        </div>

    </div>
    <!--/main-->
