
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><span class="crumb-name">兼职管理</span></div>
        </div>

        <div class="result-wrap">


                <div class="store-wrap">
                    <div class="store-title">
                        <h1>兼职者基本信息</h1>
                    </div>
                    <div class="store-content">
                        <form action="/ParttimejobAdmin/parttimejob/editor" method="post" id="myform" name="myform" enctype="multipart/form-data">
                        <ul class="sys-info-list">
                            <li name="pt_manager_information">
                                <label class="res-lab">兼职发布者姓名</label>
                                <input class="pt_min_name" name="pt_min_name" size="50" value="{$pt_manager.pt_min_name}" type="text">
                                <span class="res-labc"></span>
                            </li>

                            <li>
                                <label class="res-lab">发表者身份证号</label>
                                <span class="res-info">
                                      <input class="pt_min_idnum" name="pt_min_idnum" size="50" value="{$pt_manager.pt_min_idnum}" type="text">
                                </span>
                                <span class="res-labc"></span>
                            </li>
                            <li>
                                <label class="res-lab">发表者手机号</label>
                                <span class="res-info">
                                    <input class="pt_min_phone" name="pt_min_phone" size="50" value="{$pt_manager.pt_min_phone}" type="text">
                                </span>
                                <span class="res-labc"></span>
                            </li>
                            <li>
                                <label class="res-lab">发表者种类</label>
                                <span class="res-info">
                                    <input class="pt_min_type" name="pt_min_type" size="50" value="{$pt_manager.pt_min_type}" type="text">
                                </span>
                                <span class="res-labc"></span>
                            </li>
                            <li>
                                <label class="res-lab">发表者认证状态</label>
                                <span class="res-info">
                                    <input class="pt_min_app_state" name="pt_min_app_state" size="50" value="{$pt_manager.pt_min_app_state}" type="text">
                                </span>
                                <span class="res-labc"></span>
                            </li>

                            <!--<a href="seller/changeseller">修改店铺信息</a>-->
                            <li>
                                <input class="btn btn-primary btn6 mr10" value="提交" type="submit" name="submit">
                            </li>
                        </ul>
                            </form>
                    </div>
                </div>
            </div>
    </div>
    <!--/main-->

