
<!--/sidebar-->
<div class="main-wrap">

    <div class="store-wrap">
        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a href="">首页</a><span class="crumb-step">&gt;</span><a class="crumb-name" href="">兼职发布者信息</a><span class="crumb-step">&gt;</span></div>
        </div>
        <div class="result-wrap">
            <div class="store-content">

                <ul class="sys-info-list">
                    <li>
                        <label class="res-lab">头像</label><span class="res-info"><img src="__PUBLIC__/{$news.pt_min_image}" class="res-labb"/></span>
                        <span class="res-labc">
                        <a href="/index.php/ParttimejobAdmin/parttimejob/changepic"  class="update"> <input value="修改我的照片" type="button"></a>
                    </span>
                    </li>

                    <li>
                        <label class="res-lab">我的姓名</label><span class="res-info">{$news.pt_min_name}</span>

                    </li>
                    <li>
                        <label class="res-lab">我的身份证号</label><span class="res-info">{$news.pt_min_idnum}</span>
                        <span class="res-labc"></span>
                    </li>
                    <li>
                        <label class="res-lab">我的联系方式</label><span class="res-info">{$news.pt_min_phone}</span>
                        <span class="res-labc"></span>
                    </li>
                    <li>
                        <label class="res-lab">我的状态</label><span class="res-info">{$news.pt_min_app_state}</span>
                        <span class="res-labc"></span>
                    </li>
                    <li>
                        <label class="res-lab">主体信息</label><span class="res-info">{$news.pt_min_type}</span>
                        <span class="res-labc"></span>
                    </li>
                    <!--<a href="seller/changeseller">修改店铺信息</a>-->
                    <li>
                        <a href="{:U('/ParttimejobAdmin/parttimejob/change')}"> <input value="修改我的信息" type="button"></a>

                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
<!--/main-->


