
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><span class="crumb-name">兼职管理</span></div>
        </div>

        <div class="result-wrap">


                <div class="store-wrap">
                    <div class="store-title">
                        <h1>兼职者基本信息</h1>
                    </div>
                    <div class="store-content">
                        <ul class="sys-info-list">
                            <li name="pt_manager_information">
                                <label class="res-lab">兼职发布者姓名</label>{$pt_manager_information[0]['pt_min_name']}
                                <span class="res-labc"></span>
                            </li>

                            <li>
                                <label class="res-lab">发表者身份证号</label><span class="res-info">{$pt_manager_information[0]['pt_min_idnum']}</span>
                                <span class="res-labc"></span>
                            </li>
                            <li>
                                <label class="res-lab">发表者手机号</label><span class="res-info">{$pt_manager_information[0]['pt_min_phone']}</span>
                                <span class="res-labc"></span>
                            </li>
                            <li>
                                <label class="res-lab">发表者种类</label><span class="res-info">{$pt_manager_information[0]['pt_min_type']}</span>
                                <span class="res-labc"></span>
                            </li>
                            <li>
                                <label class="res-lab">发表者认证状态</label><span class="res-info">{$pt_manager_information[0]['pt_min_app_state']}</span>
                                <span class="res-labc"></span>
                            </li>

                            <!--<a href="seller/changeseller">修改店铺信息</a>-->
                            <li>
                                <a href="/school+/ParttimejobAdmin/parttimejob/editor"> <input value="修改兼职发布者信息" type="button"></a>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
    </div>
    <!--/main-->

