
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><a class="on" href="{:U('/ParttimejobAdmin/parttimejob/index')}">首页</a><span class="crumb-step">&gt;</span><span class="crumb-name">兼职管理</span></div>
        </div>

        <div class="result-wrap">
            <form name="myform" id="myform" method="post" action="__URL__/destoryBatchlan">
                <div class="result-title">
                    <div class="result-list">
                        <a href="/index.php/ParttimejobAdmin/parttimejob/add"><i class="icon-font"></i>添加兼职</a>
                        <button id="batchDel" href="javascript:void(0)"><i class="icon-font"></i>批量删除</button>

                    </div>
                </div>
                <div class="result-content">
                    <table class="result-tab" width="100%">
                        <tr>

                            <th class="tc" width="5%"><input class="allChoose" name="" type="checkbox" onclick="check_all(this,'id[]')"></th>
                            <th>序号</th>
                            <!--<th>兼职ID</th>-->
                            <th>兼职名称</th>
                            <th>兼职报酬</th>
                            <th>兼职时间</th>
                            <th>兼职周期</th>
                            <th>兼职人数</th>
                            <th>联系方式</th>
                            <th>兼职地址</th>
                            <th>操作</th>
                        </tr>
                        <volist name="pt_information" id="vo" key="k">
                        <tr>
                            <td class="tc"><input name="id[]" value="{$vo.pt_inid}" type="checkbox"></td>
                            <td>{$k}</td>
                            <!--<td>{$vo.pt_inid}</td>-->
                            <td>{$vo.pt_inname}</td>
                            <td>{$vo.pt_inmoney}</td>
                            <td>{$vo.pt_intime_a}到{$vo.pt_intime_b}</td>
                            <td>周{$vo.pt_inweeka}到周{$vo.pt_inweekb}</td>
                            <td>{$vo.pt_innum}</td>
                            <td>{$vo.pt_min_phonee}</td>
                            <td>{$vo.pt_inaddress}</td>
                            <td>
                                <a class="" href="/index.php/ParttimejobAdmin/parttimejob/edit?id={$vo.pt_inid}">修改</a>
                                <a   href="/index.php/ParttimejobAdmin/parttimejob/deletemange?id={$vo.pt_inid}" name="{$vo.pt_inid}">删除</a>
                                <!--<a class="delete" href="__URL__/delete?id={$vo.pt_inid}">删除</a>-->
                            </td>
                        </tr>
                         </volist>

                    </table>
                    <div class="list-page"> {$pages}</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->

    <script type="text/javascript">
        $(document).ready(function(){
            //检测js文件是否引入成功
            console.log('恭喜你,jquery文件引入成功');

            $(".delete").click(function(){
                var alarm = confirm('是否确定要删除？');
                //confirm(alarm);
                if(alarm == true){
                    var id = $(this).attr('name');
                   // confirm(id);

                    //attr()设置被选元素的属性和值。//获取要删除的数据的id
                    var self = $(this);
                    $.post("{:U('/ParttimejobAdmin/parttimejob/delete')}",//执行删除操作的页面
                            {'id':id},//删除页面所需要的要删除的数据id

                            function(data){
                                //请求成功后隐藏该记录
                                var child = self.parent().parent();//获取当前结点父结点的父结点
                                child.hide();//隐藏信息

                            }//function(data)处的括号
                    );//post结尾处的括号
                }
            });
        });
    </script>
    <script type="text/javascript">
        function check_all(obj,cName)
        {
            var checkboxs = document.getElementsByName(cName);
            for(var i=0;i<checkboxs.length;i++){checkboxs[i].checked = obj.checked;}
        }
    </script>

