
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><span class="crumb-name">兼职管理</span></div>
        </div>
        <div class="search-wrap">

        </div>
        <div class="result-wrap">

            <form name="myform" id="myform" method="post">
                <div class="result-title">

                </div>
                <div class="result-content">

                    <table class="result-tab" width="100%">
                        <tr>
                            <th>订单ID</th>
                            <th>预约者姓名</th>
                            <th>预约工作名称</th>
                            <th>预约者联系方式</th>
                            <th>兼职简介</th>
                            <th>预约时间</th>
                            <th>操作</th>
                        </tr>

                        <volist name="order" id="vo">

                        <tr>
                            <td>{$vo.pt_trid}</td>
                            <td>{$vo.pt_pname}</td>
                            <td>{$vo.pt_inname}</td>
                            <td>{$vo.pt_pphone}
                            <td>{$vo.pt_inabstract}</td>
                            <td>{$vo.pt_trtime}</td>

                            <td>
                                <a class="" href="view/id/{$vo.pt_trid}">查看详情</a>
                                <a class="" href="delete/id/{$vo.pt_trid}">删除</a>
                            </td>
                        </tr>
                       </volist>
                    </table>
                    <div class="list-page"> 2 条 1/1 页</div>
                </div>
            </form>
        </div>
    </div>
    <!--/main-->
