
    <!--/sidebar-->
    <div class="main-wrap">

        <div class="crumb-wrap">
            <div class="crumb-list"><i class="icon-font"></i><span class="crumb-step">&gt;</span><span>兼职订单管理</span><span class="crumb-step">&gt;</span><span>查看订单</span></div>
        </div>
        <div class="search-wrap">

        </div>
        <div class="result-wrap">
            <div class="result-content">

                    <table class="insert-tab" width="100%">
                        <tbody>
                        <tr>
                            <td>订单ID</td>
                            <td>{$orders[0]['pt_trid']}</td>
                        </tr>
                         <tr>
                             <td>预约者姓名</td>
                             <td>{$orders[0]['pt_pname']}</td>
                         </tr>
                        <tr>
                            <td>预约工作名称</td>
                            <td>{$orders[0]['pt_inname']}</td>
                        </tr>
                        <tr>
                            <td>预约者联系方式</td>
                            <td>{$orders[0]['pt_pphone']}</td>
                        </tr>
                        <tr>
                            <td>预约时间</td>
                            <td>{$orders[0]['pt_trtime']}</td>
                        </tr>

                        <tr>
                            <td>兼职者备注</td>
                            <td>{$orders[0]['pt_trremark']}</td>
                        </tr>

                        </tbody></table>
                    <br/>

                    <button>确认雇佣</button>
                    <button>取消预约</button>
                    <button>取消雇佣</button>（当确认雇佣之后取消雇佣生效）

            </div>
        </div>

    </div>
    <!--/main-->
