<!DOCTYPE html>
<html>
<head>
    <title>商品详情</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="__PUBLIC__/home/css/weui.min.css" type="text/css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css" rel="stylesheet">
    <style>
        html,body{
            height:100%;
        }
        .weui-col-20 img{
            height: 38px;
            padding-top:2px;
            padding-left: 4px;
        }
        .pho img{
            width: 100%;
        }
        .a{
            font-size: 20px;
            padding: 4px;
            color:red;
            float: right;
        }
        .b{
            border: 2px #9c9c9c solid;
            padding-left: 0px;
        }
        .back{
            margin-top:10px;
            float:left;
        }
        .set{
            width:80%;
            padding-top:10px;
            margin:0 auto;
            text-align:center;
            font-size:22px;
        }

        .dingdan{
            margin-left:5%;
        }
        .tdd
        {
            border: 2px lightgrey solid;
            width: 70px;
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="weui_tab">
    <div class="weui_tab_bd">


        <div>
            <!-- 返回图标开始 -->
            <div   class="back" >
                <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
            </div>
            <div class="set" name="set">
                {$set['bs_gname']}
            </div>
            <!-- 返回图标结束 -->
        </div>


        <div class="line">
            <div class="pho">
                <img src="__PUBLIC__/{$set['bs_gurl']}"alt="">
            </div>
        </div>
        <div class="a" name="set">￥{$set['bs_gprice']}</div>
        <div name="set">
            <p style="font-size: 20px;padding-left: 8px;">{$set['bs_gdescription']}</p>
            <p style="font-size: 15px;padding-left: 8px;padding-margin:8px;">运费：免费</p>
        </div>


        <div class="weui_cells weui_cells_access">

            <div class="weui_cell" >
                <div class="weui_cell_hd">
                    <form action="" method="post" id="myform" name="myform" enctype="multipart/form-data">
                        <table class="insert-tab" width="100%">
                            <tbody>
                            <tr>
                                <td>种类：</td>
                                <td>
                                    <select name="catid" id="catid" class="required">
                                        <option value="">请选择</option>
                                        
                                        <option value="19" name="set">{$set['bs_gname']}</option>
                                        
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>型号(颜色)：</td>
                                <td>
                                    <select name="colId" id="colId" class="required" onchange="select()">
                                        <option value="请选择">请选择</option>
                                        <option value="19" name="set">{$set['bs_gsize']}</option>
                                    </select>
                                </td>
                            </tr>
                            <tr >
                                <td>已选种类</td>
                                <td class="tdd" name="set">{$set['bs_gname']}</td>
                                <td class="tdd" name="set">{$set['bs_gsize']}</td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <div class="dingdan">
                    <div class="img1"><img src="__PUBLIC__/{$set['bs_gurl']}"  width="50px" height="50px" ></div>
                    <div class="img2"><a href="/home/dingdan/gouwuche_queren" name="gouwuche"><img src="__PUBLIC__/home/images/gouwuche.png" alt=""></a></div>
                </div>
            </div>
        </div>


        <div class="weui_panel_bd">
            <a href="javascript:void(0);" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="weui_media_appmsg_thumb" src="__PUBLIC__/{$si['si_image']}" alt="">
                </div>
                <div class="weui_media_bd" name="si">
                    <h4 class="weui_media_title">{$si['si_name']}</h4>
                    <p class="weui_media_desc">{$si['si_sintroduce']}</p>
                </div>
            </a>
        </div>


        <!--&lt;!&ndash;底部开始&ndash;&gt;-->

        <!--<div class="weui_tabbar">-->
            <!--<a href="index.html" class="weui_tabbar_item weui_bar_item_on">-->
                <!--<div class="weui_tabbar_icon">-->
                    <!--<img src="images/b1.jpg" alt="">-->
                <!--</div>-->
                <!--<p class="weui_tabbar_label">首页</p>-->
            <!--</a>-->
            <!--<a href="sousuo.html" class="weui_tabbar_item">-->
                <!--<div class="weui_tabbar_icon">-->
                    <!--<img src="images/b2.jpg" alt="">-->
                <!--</div>-->
                <!--<p class="weui_tabbar_label">搜索</p>-->
            <!--</a>-->
            <!--<a href="gouwuche.html" class="weui_tabbar_item">-->
                <!--<div class="weui_tabbar_icon">-->
                    <!--<img src="images/b3.jpg" alt="">-->
                <!--</div>-->
                <!--<p class="weui_tabbar_label">购物车</p>-->
            <!--</a>-->
            <!--<a href="personal.html" class="weui_tabbar_item">-->
                <!--<div class="weui_tabbar_icon">-->
                    <!--<img src="images/b4.jpg" alt="">-->
                <!--</div>-->
                <!--<p class="weui_tabbar_label">个人中心</p>-->
            <!--</a>-->
        <!--</div>-->
        <!--&lt;!&ndash;底部结束&ndash;&gt;-->
    <!--</div>-->
<!--</div>-->
<!--</body>-->
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js" ></script>
<script type="text/javascript" src="__PUBLIC__/home/js/jquery-weui.min.js"></script>
<script type="text/javascript">
    $(".weui_navbar .weui_navbar_item").click(function(){
        $(".weui_navbar .weui_navbar_item").removeClass("weui_bar_item_on");//全部没有weui_bar_item_on
        $(this).addClass("weui_bar_item_on");//点谁谁有weui_bar_item_on
        //判断点的第几个选项卡
        var which = $(this).index();
        //console.log(which);
        //让所有内容区域隐藏
        $(".weui_tab_bd .content").hide();
        //按照索引选择内容
        $(".weui_tab_bd .content:eq("+which+")").show();
    });
</script>
 <script type="text/javascript">
 //    function select(){
 //        var myform = document.getElementById('myform');
 //        myform.submit();

 //        var sel = document.getElementById('colId');
 //        var text = sel.options[sel.selectedIndex].value;
 //        console.log(text);
 //        sel.options[sel.selectedIndex].value = text;
 //    }
 //    </script>

<!--</html>-->
