<!DOCTYPE html>
<html>
<head>
	<title>校园+商家</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link rel="stylesheet" href="__PUBLIC__/home/css/weui.min.css" type="text/css">
	<link rel="stylesheet" href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css">
	<style>
		html,body{
			height:100%;
		}
		.back{
        margin-top:10px;
        float:left;
        }
        .set{
        width:80%;
        padding-top:10px;
        margin:0 auto;
    	text-align:center;
		font-size:22px;
        }
	
	</style>
</head>
<body>
<div class="weui_tab">
	<div class="weui_tab_bd" >
		    		
		    <div>
		    <!-- 返回图标开始 -->
		    <div   class="back" >
		    <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
		    </div>
		    <div class="set">
		    校园+
		    </div>
		    <!-- 返回图标结束 -->	
		    </div>
        

            <!--搜索框-->
		 	<div class="weui_search_bar" id="search_bar" style="width:100%;">
              <form class="weui_search_outer">
                  <div class="weui_search_inner">
                     <i class="weui_icon_search"></i>
                     <input type="search" class="weui_search_input" id="search_input" placeholder="搜索" required/>
                     <a href="javascript:" class="weui_icon_clear" id="search_clear"></a>
                  </div>
                  <label for="search_input" class="weui_search_text" id="search_text">
                     <i class="weui_icon_search"></i>
                     <span>搜索</span>
                  </label>
              </form>
              <a href="javascript:" class="weui_search_cancel" id="search_cancel">取消</a>
           </div>


<!-- 商铺列表开始 -->
           <div class="weui_panel weui_panel_access" >
			  <div class="weui_panel_bd">
			    <volist name="store_information" id="vo">
			    <a href="/home/dianjia/dianjia?si_id={$vo.si_id}" class="weui_media_box weui_media_appmsg"  id="{$vo.si_id}">
			      <div class="weui_media_hd" >
			        <img class="weui_media_appmsg_thumb" src="__PUBLIC__/{$vo.si_image}" alt="">
			      </div>
			      <div class="weui_media_bd">
			        <h4 class="weui_media_title">{$vo['si_name']}</h4>
			        <p class="weui_media_desc"> {$vo['si_sintroduce']}</p>
			        <p class="weui_media_desc">{$vo['si_address']}</p>
			      </div>
			    </a>
			    </volist>
			  </div>
			</div>
	</div>

<script type="text/javascript" src="js/jquery-2.1.4.js"></script>
<script type="text/javascript" src="js/jquery-weui.min.js"></script>

<style>
	.swiper-container img {
		display: block;
		width: 100%;
	}
</style>
<!--</html>-->
