<!DOCTYPE html>
<html>
<head>
<title>收货地址修改</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--只有IE8认识,解决兼容性问题-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href="__PUBLIC__/home/css/weui.min.css" type="text/css" rel="stylesheet">
	<link href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css" rel="stylesheet">
   <style>
        html,body{
			height:100%;
		}
        .back{
        padding-top:14px;
        }

        .exit{
        font-size:26px;
        color:red;
        position:absolute;
        bottom:0;
        width:100%;
        text-align:center;        
        }
        
        .back{
        margin-top:10px;
        float:left;
        }
        .set{
        width:80%;
        padding-top:24px;
        margin:0 auto;
		font-size:22px;
        }  

</style>
</head>
<body>
<div class="weui_tab">
	<div class="weui_tab_bd">
	

		    <div>
		    <!-- 返回图标开始 -->
		    <div   class="back" >
		    <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
		    </div>
		    <div class="set">
		    修改收货地址
		    </div>
		    <!-- 返回图标结束 -->	
		    </div>


    <!-- 主体部分开始 -->
        <div class="weui_cells weui_cells_form">
          <form action="/index.php/home/personal/editaddress/id/{$editaddress[0]['ca_id']}" method="post" enctype= "multipart/form-data">



            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">姓名</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" name="ca_name" type="tel"  value="{$editaddress[0]['ca_name']}">
                </div>
            </div>


              <div class="weui_cell">
                  <div class="weui_cell_hd"><label class="weui_label">用户id</label></div>
                  <div class="weui_cell_bd weui_cell_primary">
                      <input class="weui_input" name="cus" type="tel"  value="{$cus}">
                  </div>
              </div>



            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">手机号</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" name="ca_phone" type="tel"  value="{$editaddress[0]['ca_phone']}">
                </div>
            </div>

            <div class="weui_cell">
                <div class="weui_cell_hd"><label class="weui_label">收货地址</label></div>
                <div class="weui_cell_bd weui_cell_primary">
                    <input class="weui_input" name="ca_address" type="tel"  value="{$editaddress[0]['ca_address']}">
                </div>
            </div>
              <input type="submit" class="submit" style="width:25%;height:40px"  value="提交" name="submit">
          </form>





        </div>



    <!-- 主体部分结束 -->
    
   
    <!-- 底部“保存”开始 -->
    <div class="exit"  style="background-color:white;">
    <hr/>
		保存
    </div>
     <!-- 底部“保存”结束 -->
</div>

</body>
</html>