<!DOCTYPE html>
<html>
<head>
<title>收货地址管理</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--只有IE8认识,解决兼容性问题-->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<link href="__PUBLIC__/home/css/weui.min.css" type="text/css" rel="stylesheet">
	<link href="__PUBLIC__/home/css/jquery-weui.min.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="__PUBLIC__/home/js/jquery-2.1.4.js"></script>
<style>
        html,body{
			height:100%;
		}
        .exit{
        font-size:26px;
        position:absolute;
        bottom:0;
        width:100%;
        text-align:center;        
        }
        
        .back{
        margin-top:20px;
        float:left;
        }
        .set{
        width:80%;
        padding-top:20px;
        margin:0 auto;
		font-size:22px;
        }

</style>
</head>
<body>

<div class="weui_tab">
	<div class="weui_tab_bd">	
	


    		<div>
		    <!-- 返回图标开始 -->
		    <div   class="back" >
		    <a onclick="history.go(-1)"><img src="__PUBLIC__/home/images/back.jpg"  style="width:30px;height:30px;" ></a>
		    </div>
		    <div class="set">
		    收货地址管理
		    </div>
		    <!-- 返回图标结束 -->	
		    </div>
		    

    <!-- 主体部分开始 -->
    <div class="weui_cells weui_cells_access"  style="margin-top:8%">
        <input class="weui_input" type="hidden" name="ci_id"  value="{$user.ci_id}">
    
        <volist name="address" id="vo">
         <a class="weui_cell" href="#">
            <div class="weui_cell_bd weui_cell_primary" >
                <p>姓名：{$vo.ca_name}</p>
                <p>电话：{$vo.ca_phone}</p>
                <p>地址：{$vo.ca_address}</p>

            </div>
        </a>
        <div class="weui_cell">
            <div class="weui_cell_bd weui_cell_primary"  >
                <!--<div style="margin-top: 0%;width:50%;">-->
                    <!--<input type="checkbox"  name="address"  value="address"> 设为默认地址-->
                <!--</div>-->
                <div class="weui_cell_bd weui_cell_primary"    style="float:right;margin-top: -6%;">

                    <a class="delete"  href="/index.php/home/personal/editaddress/id/{$vo.ca_id}">
                    <input type="submit" value="编辑" class="weui_btn weui_btn_mini weui_btn_default">
                    </a>
                    <a class="delete" href="/index.php/__URL__/delete/id/{$vo.ca_id}">
                        <input type="submit" value="删除" class="weui_btn weui_btn_mini weui_btn_default" id="delete">
                     </a>
                </div>
            </div>
        </div>
       </volist>
    </div>
   <div class="exit"  style="background-color:white;" >
    <hr/>
     <a href="/index.php/home/personal/paddaddress/id/{$user.ci_id}"    style="color:red;">
     新增收货地址
    </a>    
    </div>
    <!-- 主体部分结束 -->
</div>
    </div>
</body>
<script type="text/javascript">
    $(document).ready(function(){
        console.log('jquery文件引入成功！');
        $("#delete").click(function(){
            var tag = confirm('真的要删除吗？');
            if(!tag){
                return false;
            }
        });
    });

</script>
</html>